*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.fl{
    float: left;
}
.voci-nav ul{
    list-style: none;
}
.voci-nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: white;
    font-size: small;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* ---------------------------------------------------------------------- */
header{
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    background-position: center;
}

.logo{
    padding-top: 20px;
    width: 20%;
    vertical-align: middle;
}
.voci-nav{
    width: 60%;
    line-height: 70px;
    text-align: center;
}
nav{
    height: 70px;
}
.button{
    width: 20%;
    line-height: 70px;
    text-align: right;
}
.button a{
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
}
.content-header{
    width: 640px;
    text-align: center;
}
.content-header h1{
    padding-bottom: 20px;
    color: white;
}
.content-header p{
    padding-bottom: 5px;
    color: white;
}

.button-large a{
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
    margin-right: 190px;
    margin-top: 10px;
}
.button-large{
    display: inline-block;
}
main{
    height: 500px;
}
.image-main{
    margin-top: 50px;
    width: 50%;
}
.text-main{
    margin-top: 75px;
    padding-left: 130px;
    width: 50%;
}
.image-main img{
    width: 100%;
}
.margin{
    margin-bottom: 20px;
}
.text-main p{
    margin-bottom: 5px;
}
