*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav::after{
    content: "";
    display: table;
    clear: both;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.fl{
    float: left;
}
.voci-nav ul{
    list-style: none;
}
.voci-nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: white;
    font-size: small;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer{
    background-color: black;
    height: 500px;
}
.mg-top{
    margin-top: 50px;
}
.row{
    height: 300px;
    border:1px solid black;
}
.footer{
    height: 500px;
}
.white{
    color: white;
}
.mg-top15{
    margin-top: 15px;
}
.mg-top20{
    margin-top: 20px;
}
.fr{
    float: right;
}
.ib{
    display: inline-block;
}
.flag img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.vm{
    vertical-align: middle;
}
/* .flag li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f099";
    color:white;
} */
.cw{
    color: white;
}
.flag ul{
    margin-top: 30px;
}
.flag ul li{
    display: inline-block;
    margin-right: 30px;
}
/* ---------------------------------------------------------------------- */
header{
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    background-position: center;
}

.logo{
    padding-top: 20px;
    width: 20%;
    vertical-align: middle;
}
.voci-nav{
    width: 60%;
    line-height: 70px;
    text-align: center;
}
nav{
    height: 70px;
}
.button{
    width: 20%;
    line-height: 70px;
    text-align: right;
}
.button-small{
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
}
.button-small-foot{
    text-decoration: none;
    background-color: rgb(54, 54, 139);
    color: white;
    display: inline-block;
    width: 90px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
}
.content-header{
    width: 640px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content-header h1{
    padding-bottom: 20px;
    color: white;
}
.content-header p{
    padding-bottom: 5px;
    color: white;
}
.button-medium{
    margin-right: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
    margin-top: 10px;
}
.button-large{
    margin-right: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
    margin-top: 10px;
}

main{
    height: 500px;
}
.image-main{
    margin-top: 50px;
    width: 50%;
}
.text-main{
    margin-top: 75px;
    padding-left: 130px;
    width: 50%;
}
.image-main img{
    width: 100%;
}
.margin{
    margin-bottom: 20px;
}
.text-main p{
    margin-bottom: 5px;
}
.mg-bot10{
    margin-bottom: 10px;
}
.fs14{
    font-size: 14px;
}
/* .svg{
    background-image: url(../img/wave.svg);
} */
.ultimo-div{
    margin-top: 100px;
}
.ultimo-div h1 {
    text-align: center;
}
.ultimo-div p{
    text-align: center;
}
.ultima-img{
    margin-top: 50px;
    width: 50%;
    margin: 0 auto;
}
.ultima-img img{
    width: 100%;
}
.stars{
    /* background-image: url(../img/stars.svg); */
    margin-top: 50px;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 50px;
}
.stars h2{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.stars{
    text-align: center;
    margin: 0 auto;
}
.avventura{
    text-align: center;
}
.big-main{
    height: 600px;
}
.button-avventura{
    margin-right: 20px;
    text-decoration: none;
    background-color:rgb(109, 109, 221);
    color: white;
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    font-size: small;
    margin-top: 30px;
}
.contact{
    width: 30%;
}
.container-footer{
    height: 400px;
    padding-top: 40px;
}
.product{
    width: 15%;
    padding-top: 8px;
}

.blue{
    color: blue;
}
.product ul li{
    list-style: none;
}
.row2::after{
    display: table;
    clear: both;
    content: "";
}
